<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center">About Us</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae augue nec arcu consequat convallis. Morbi fermentum libero nec aliquet tincidunt.</p>
        <p>Integer varius dui eget ante consequat, at lacinia dui mollis. Integer vestibulum, mi et bibendum vestibulum, ligula sapien varius libero, nec sodales tortor velit sed nunc.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel est arcu. Vestibulum scelerisque ex ac accumsan vestibulum.</p>
      </div>
    </div>
  </div>
  
